<h3>Add your comments here:</h3>
    <h3 id={{blogs.id}}>{{blogs.title}}</h3>
    <p id="comment-body">{{blogs.body}}</p>
    <input id="commentId" type="text" placeholder="add comment here">
    <button onclick="addComment({{id}})">Submit</button>
    <button onclick="deleteComment({{id}})">Delete</button>
    <hr>

<script src="/js/comments.js"></script>